<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/watch" method="get">
    <input type="text" name="v" placeholder="Search">
    <input type="submit" value="Submit">
    </form>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "https://www.youtube.com/watch?v={{id}}";
        this.page.identifier = "{{id}}";
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://comment-3612om7krb.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<script id="dsq-count-scr" src="//comment-3612om7krb.disqus.com/count.js" async></script>
</body>
</html>